<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>前端监控</title>
<link rel="stylesheet" type="text/css" href="/style/base.css">
<link rel="stylesheet" type="text/css" href="/style/global.css">
<link type="text/css" rel="stylesheet" href="/style/style.css" />
</head>
<body>
<!--头部START-->
 <div id="head">
    <div class="w1200 mb headWrap clearfix">
        <img src="images/logo.jpg" width="294" height="49" alt="" class="logo fl mt24">
        <div class="fr clearfix rightArea">
          <ul class="topNav fl clearfix">
            <li class="outLine"><a href="/brief.html" title="">概述</a></li>
            <li class="alert"><a href="/warn.html" title="" >告警</a></li>
            <li class="monitor"><a href="/monitor.html" class="active" title="">监控</a></li>
            <li class="report"><a href="/report.html" title="">报告</a></li>
            <li class="config"><a href="/config.html" title="">配置</a></li>
            <li class="system"><a href="/system.html" title="">系统</a></li>
          </ul>
          
          <div class="login fr pa">
              <div class="txt f16_s tc col_w" title="{{user}}">{{user}}</div>
              <ul class="pa muen">
                <li><a href="/users/update/{{userId}}">修改密码</a></li>
                <li><a href="/logout.html">退出</a></li>
              </ul>
          </div>
        </div>
    </div>
 </div>
<!--头部END--> 

<!--   <div class="inputDiv">
      <form>
         <input type="text" name="url" class="url"/>
         <button id="postBtn">提交</button>
      </form>
  </div>
  <div class="showIframeWrap">
      <iframe frameborder="0" width="100%" height="100%" src=""></iframe>
  </div> -->


    <div id="container" style="width: 90%; margin:130px auto 0 auto;"></div>
    <div class="showErrorMessage" id="showErrorMessage">
    </div>
</body>

<script type="text/html" id="performanceTemplate">
        <table width="100%" cellpadding="0" cellspacing="0">
             <thead>
               <tr>
                   <td>上个文档的卸载时间</td>
                   <td>重定向时间</td>
                   <td>DNS查询时间</td>
                   <td>服务器连接时间</td>
                   <td>服务器响应时间</td>
                   <td>网页下载时间</td>
                   <td>首次渲染时间</td>
                   <td>dom ready时间（阶段）</td>
                   <td>dom ready时间（总和）</td>
                   <td>onload时间（阶段）</td>
                   <td>onload时间（总和）</td>
                   <td>白屏时间</td>
                   <td>整个过程的时间之和</td>
               </tr>
             </thead>
             <tbody>
                [[each data]]
               <tr>
                   <td>[[$value.t_unload]]</td>
                   <td>[[$value.t_redirect]]</td>
                   <td>[[$value.t_dns]]</td>
                   <td>[[$value.t_tcp]]</td>
                   <td>[[$value.t_request]]</td>
                   <td>[[$value.t_response]]</td>
                   <td>[[$value.t_paint]]</td>
                   <td>[[$value.t_dom]]</td>
                   <td>[[$value.t_domready]]</td>
                   <td>[[$value.t_load]]</td>
                   <td>[[$value.t_onload]]</td>
                   <td>[[$value.t_white]]</td>
                   <td>[[$value.t_all]]</td>
               </tr>
               [[/each]]
             </tbody>
        </table>

</script>

<script type="text/javascript" src="/script/require.js"  data-main="/script/performance.js"></script>
<script type="text/javascript">
     // require(['/script/lib/jquery-1.10.2.min.js'],function(){
     //      post($);   
     // });

     // function post($){
     //     var btn = $('#postBtn');
     //     var iframe = $('.showIframeWrap iframe');
     //     var input = $('.inputDiv .url');
     //     btn.on('click',function(){
     //        var url = input.val();
     //        var reg = /(\w+):\/\/([^\:|\/]+)(\:\d*)?(.*\/)([^#|\?|\n]+)?(#.*)?(\?.*)?/i; 
     //         if(url.match(reg)){
     //              $('<div class="loading"></div>').appendTo($('body'));              
     //               $.ajax({
     //                url: '/monitor',
     //                dataType: 'json',
     //                data: {
     //                  url: url
     //                },
     //                type: 'post',
     //                success: function(json) {
     //                  if (json.result === 1) {
     //                      iframe.attr({'src':json.url});
     //                  }else{
     //                       alert('data error');
     //                  }
     //                  $('.loading').remove(); 
     //                },
     //                error: function(err) {
     //                  console.log('error:' + err);
     //                  $('.loading').remove();
     //                },
     //                exception: function(ex) {
     //                  console.log('exception:' + ex);
     //                  $('.loading').remove();
     //                }
     //              });               
     //          }else{
     //               alert('请输入正确的网址！')
     //          }
                
     //          return false;
     //     }); 
     // };

</script>
</html>